<footer class="page-footer font-small teal pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="footer-copyright text-center py-3">&copy; 2018 Copyright <a href="http://www.rasyidcode.xyz">rasyidcode.xyz</a></div>
        <div class="footer-copyright text-center py-3">Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/"
                title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
                title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
</footer>