title = "Genre"
url = "/genre/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Rasyidcode\Movies\Models\Genre"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<div class="container">
    {% if record %}
        <h3>{{ record.name }}</h3>

        <ul>
            {% for movie in record.movies %}
                <li>{{ movie.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        {{ notFoundMessage }}
    {% endif %}
</div>