title = "Movie Single"
url = "/movie/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Rasyidcode\Movies\Models\Movie"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<div class="container">
    {% if record %}
        <h4>{{ record.name }}</h4>
        
        <img src="{{ record.poster.thumb(200, auto) }}" alt="">

        <h5>{{ record.year }}</h5>

        <h4>Gallery</h4>

        <ul>
            {% for image in record.gallery %}
                <li><img src="{{ image.thumb(200, 200) }}" alt=""></li>
            {% endfor %}
        </ul>

        <p>{{ record.description|raw }}</p>

        <h4>Genre</h4>
        {% for gen in record.genre %}
            <a href="/genre/{{gen.slug}}">{{gen.name}}</a>
        {% endfor %}
    {% else %}
        {{ notFoundMessage }}
    {% endif %}
</div>